

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <%= link_to image_tag("IllinoisGreen_logo.svg", height: "100"), root_path %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    

    <ul class="navbar-nav mr-auto">
      <li class="<%= 'active' if current_page?(projects_path) %>"><%= link_to "PROJECTS", projects_path %></li>
      <li class="<%= 'active' if current_page?(partners_path) %>"><%= link_to "PARTNERS", partners_path %></li>
    </ul>
    <%= form_with(url: projects_path, class: "form-inline my-2 my-lg-0", local: true, method: :get) do |f| %>
      <%= f.text_field :near, class: "form-control mr-sm-2", placeholder: "Search" %>
      <%= f.submit "Search", class: "btn btn-outline-success my-2 my-sm-0" %>
    <% end %>
  </div>
</nav>