<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Project Partners</h1>

  <table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_partners.each do |project_partner| %>
      <tr>
        <td><%= project_partner.id %></td>
        <td><%= project_partner.project_id %></td>
        <td><%= project_partner.partner_id %></td>
        <td><%= link_to 'Show', project_partner %></td>
        <td><%= link_to 'Edit', edit_project_partner_path(project_partner) %></td>
        <td><%= link_to 'Destroy', project_partner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  </table>

  <br>

  <%= link_to 'New Project Partner', new_project_partner_path %>
</div>