<div class="container-fluid">
  <p id="notice"><%= notice %></p>

   <div id="map_page">
    <h1>Projects</h1>
    <br>
     <div class="row">
      <div id="sidebar" class="col-md-4 ">
        <br>
      <% @projects.each do |project| %>
      <p>
        <h5><%= project.address %></h5>
        <%= project.buildings_assignment %><br>
        <%= project.project_status %><br>
        <%= project.building_type %><br>
        <%= project.date %><br>
        <%= project.impact %>
        <%= link_to 'Show', project %> |
        <%= link_to 'Edit', edit_project_path(project) %> |
        <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
        <hr>
        </p>
        <% end %>
        <%= form_tag import_projects_path, multipart: true do %>
          <%= file_field_tag :file %>
          <%= submit_tag "Import" %>
        <% end %>
        <p>
          <%= link_to 'New Project', new_project_path %>
        </p>
      </div>
      <%= tag.div nil, class: 'col-md-8 ml-auto', id: 'map', data: { projects: @projects.to_json(methods: [:address]), l: params[:l] } %>
    </div>
  </div>
</div>

