 <div class="container-fluid"> 
    <p id="notice"><%= notice %></p>
    <br> 
    <br> 
    <br> 
  <div class="row">
    <div class="col-md-6">

      <h3><%= @project.address %></h3>

      <p>
        <strong>Buildings assignment:</strong>
        <%= @project.buildings_assignment %>
      </p>

      <p>
        <strong>Building type:</strong>
        <%= @project.building_type %>
      </p>

      <p>
        <strong>Project status:</strong>
        <%= @project.project_status %>
      </p>

      <p>
        <strong>Date:</strong>
        <%= @project.date %>
      </p>

      <p>
        <strong>Impact:</strong>
        <%= @project.impact %>
      </p>
      
      <p>
        <strong>Project Type:</strong>
         <% if @project.project_type.present? %><%= @project.project_type.name %><% end %>
      </p>

      <p>
        <strong>Project Partner:</strong>
          <% if @project.partners.any? %>
            <% @partners.each_with_index do |partner, index| %>
              <%= partner.name %>
              <%= "," unless @partners.size==index+1 %>
            <% end %> 
          <% end %>
      </p>

      <hr>
      <%= link_to 'Edit', edit_project_path(@project) %> |
      <%= link_to 'Back', projects_path %>
    </div>
    <div class="col-md-6">
      <%= tag.div nil, id: 'map_show', data: { project: @project.to_json } %>
    </div>
  </div>



  
