 <div class="container"> 
    <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-md-6">
      <p>
        <strong>Project name:</strong>
        <%= @project.project_name %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= @project.address %>
      </p>

      <p>
        <strong>Latitude:</strong>
        <%= @project.latitude %>
      </p>

      <p>
        <strong>Longitude:</strong>
        <%= @project.longitude %>
      </p>

      <p>
        <strong>Buildings assignment:</strong>
        <%= @project.buildings_assignment %>
      </p>

      <p>
        <strong>Building type:</strong>
        <%= @project.building_type %>
      </p>

      <p>
        <strong>Project status:</strong>
        <%= @project.project_status %>
      </p>

      <p>
        <strong>Date:</strong>
        <%= @project.date %>
      </p>

      <p>
        <strong>Impact:</strong>
        <%= @project.impact %>
      </p>

      <%= link_to 'Edit', edit_project_path(@project) %> |
      <%= link_to 'Back', projects_path %>
    </div>
    </div>
    <div class="col-md-6">
      <%= tag.div nil, id: 'map_show', data: { project: @project.to_json } %>
    </div>
  </div>



  
